header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    position: fixed;
    z-index: 100;
}
header img{
    width: 112px;
}
header>div{
    width: 36px;
    height: 14px;
    position: relative;
}
header>div>span:nth-child(1){
    position: absolute;
    display: block;
    width: 26px;
    height: 3px;
    background-color: #fff;
    left: 0;
    top: 0;
}
header>div>span:nth-child(2){
    position: absolute;
    display: block;
    width: 26px;
    height: 3px;
    background-color: #fff;
    right: 0;
    bottom: 0;
}